.env
*.lck
*.ctrl
*.dat
Database/SmartCare/log/README_DO_NOT_TOUCH_FILES.txt
Database/SmartCare/README_DO_NOT_TOUCH_FILES.txt
Database/SmartCare/seg0/README_DO_NOT_TOUCH_FILES.txt
Database/SmartCare/service.properties
SmartCare/build/web/WEB-INF/classes/smartcare/

### Java ###
# Compiled class file
*.class

# Log file
*.log

### Java-Web ###
## ignoring target file
target/

### NetBeans ###
**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/