/SmartCare/nbproject/private/
/SmartCare/build/
/SmartCare/dist/
/SmartCare/Database/
*.dat
Database/derby.log
Database/derby.properties
Database/SmartCare/db.lck
Database/SmartCare/log/log.ctrl
Database/SmartCare/log/logmirror.ctrl
Database/SmartCare/log/README_DO_NOT_TOUCH_FILES.txt
Database/SmartCare/README_DO_NOT_TOUCH_FILES.txt
Database/SmartCare/seg0/README_DO_NOT_TOUCH_FILES.txt
Database/SmartCare/service.properties
lib/javaee-endorsed-api-7.0/javax.annotation-api.jar
lib/javaee-endorsed-api-7.0/javax.xml.soap-api.jar
lib/javaee-endorsed-api-7.0/jaxb-api-osgi.jar
lib/javaee-endorsed-api-7.0/jsr181-api.jar
lib/javaee-endorsed-api-7.0/jaxws-api.jar
